
<h1>Faculty Profile</h1>
<section id="existingFacultyProfile">


<form>
    <div class="form-row">
    <div class="form-group col-md-6">
      <label for="inputFullName">{{faculty.full_name}}</label>
      <input type="text" class="form-control" id="inputFullName" placeholder="John Doe/Jane Doe">
    </div>
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="inputEmail4">{{faculty.email}}</label>
      <input type="email" class="form-control" id="inputEmail4" placeholder="Email">
    </div>
    <div class="form-group col-md-6">
      <label for="inputfacultyId">{{faculty.id}}</label>
      <input type="text" class="form-control" id="inputFacultyId" placeholder="1234">
    </div>
  </div>
  <div class="form-group">
    <label for="inputQualification">{{faculty.qualification}}</label>
    <input type="text" class="form-control" id="inputQualification" placeholder="PhD Mathematics">
  </div>
  <div class="form-group">
    <label for="inputCurrentPosition">{{faculty.current_position}}</label>
    <input type="text" class="form-control" id="inputCurrentPosition" placeholder="Assistant Professor">
  </div>
<div class="form-group">
    <label for="inputCoursesTaught">{{faculty.course_name}}</label>
    <input type="text" class="form-control" id="inputCoursesTaught" placeholder="Advanced Mathematics">
  </div>
<div class="form-group">
    <label for="inputAddress">{{faculty.address}}</label>
    <input type="text" class="form-control" id="inputAddress" placeholder="1234 Main St ">
  </div>
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="inputCity">City</label>
      <input type="text" class="form-control" id="inputCity" placeholder="Toronto ">
    </div>
    <div class="form-group col-md-4">
      <label for="inputState">Province</label>
      <select id="inputState" class="form-control" placeholder="Ontario ">
        <option selected>Choose...</option>
        <option>...</option>
      </select>
    </div>
    <div class="form-group col-md-2">
      <label for="inputZip">Zip</label>
      <input type="text" class="form-control" id="inputZip">
    </div>
  </div>

  <button type="submit" class="btn btn-primary">Update Profile</button>
</form>
 <script src="/js/facultyProfile.js"></script>